* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #48C5CE;
    text-align: center;
    color: white;
    padding: 15px;
}

#title {
    font-size: 25px;
    text-transform: uppercase;
}
main {
    overflow: hidden;
    padding: 20px;
    background-image: url('../images/people.jpg');
    background-size: cover;
}

.formContainer {
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}

#formTitle {
    font-size: 16px;
    text-transform: uppercase;
}

.marginbottom {
    margin-bottom: 15px;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type='submit'] {
    color: white;
    background-color: #48C5CE;
    font-weight: bold;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../images/arrow.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

footer {
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.picture {
    width: 160px;
}

.description {
    text-align: start;
    color: white;
    display: inline-block;
    max-width: 40%;
    margin-left: 40px;
}

.description > h3 {
    font-size: 24px;
}

.description > p, .description > h3 {
    margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
    .formContainer {
        float: none;
        margin: auto;
    }

    footer {
        padding: 5px;
    }

    .picture {
        display: block;
        margin: 15px auto;
    }

    .description {
        display: block;
        margin: auto;
        max-width: 80%;
    }

    .description h3 {
        text-align: center;
    }

}